@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #000;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

h1,
h2,
h3 {
  margin-top: 36px;
}

button {
  padding: 16px 32px;
  background-color: goldenrod;
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
}

button:active {
  border: 2px solid goldenrod;
  background-color: whitesmoke;
  color: #000;
}
